html 
    scroll-behavior: smooth
    
body

    overflow-x: hidden
    //background: -moz-linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(148,255,184,1) 100%) /* ff3.6+ */
    //background: -moz-linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(168,177,255,1) 100%) /* ff3.6+ */
    //background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,129,117,1)), color-stop(100%, rgba(168,177,255,1))) /* safari4+,chrome */
    //background: -webkit-linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(168,177,255,1) 100%) /* safari5.1+,chrome10+ */
    //background: -o-linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(168,177,255,1) 100%) /* opera 11.10+ */
    //background: -ms-linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(168,177,255,1) 100%) /* ie10+ */
    //background: linear-gradient(45deg, rgba(255,129,117,1) 0%, rgba(168,177,255,1) 100%) /* w3c */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A8B1FF', endColorstr='#FF8175',GradientType=1 ) /* ie6-9 */
    background-attachment: fixed

    background: url('https://i.pinimg.com/originals/21/1c/0e/211c0ea61620106be0b0ae7a65e270b9.png') 


h1
    font-family: 'Fredoka One', cursive
    background: -webkit-linear-gradient(#A9F1DF, #FFBBBB)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
h2
    font-family: 'Fredoka One', cursive

h6, h5, h4, p, 
    font-family: 'Poppins', sans-serif
    color: white

.nav-link
    color: white
    font-family: 'Poppins', sans-serif

a 
    color: white
    &:hover
        color: lightgreen

.logo
    width: 76px
    hegiht: 76px
.face
    border-radius: 50%
    width: 180px
    height: 180px

.face-container
    margin-top: 5%
    
.logobig
    margin-top: 30px
    width: 650px
    height: 155px 
.fab
    font-size: 35px
    background: -webkit-linear-gradient(#A9F1DF, #FFBBBB)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin-left: 10px

#dscr
    word-spacing: 10px










